<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift History</title>
    <link rel="stylesheet" href="css/history.css">
</head>
<body>
    <h1>lịch sử nhận quà</h1>
    <table id="historyTable">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Phần quà nhận được</th>
                <th>Ngày giờ nhận được quà</th>
            </tr>
        </thead>
        <tbody>
            <!-- Lịch sử sẽ được thêm vào đây bằng JavaScript -->
        </tbody>
    </table>
    <!-- <button id="clearHistoryButton">Clear History</button> -->

    <script type="module" src="js/history.js"></script>
</body>
</html>
