<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift Boxes</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Hí chào cậu Phanh ..."cún"</h1>
    <div id="nameEntry">
        <input type="text" id="playerName" placeholder="Enter your name">
        <button onclick="submitName()">Submit</button>
    </div>
    <div id="giftBoxes" style="display:none;">
        <div class="gift-box" onclick="selectGift(1)">Hộp quà số 1</div>
        <div class="gift-box" onclick="selectGift(2)">Hộp quà số 2</div>
        <div class="gift-box" onclick="selectGift(3)">Hộp quà số 3</div>
        <div class="gift-box" onclick="selectGift(4)">Hộp quà số 4</div>
    </div>

    <script type="module" src="js/script.js"></script>
</body>
</html>
